.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: mediumpurple;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.tape {
	display: flex;
	width: 250px;
	height: 250px;
}

.player {
	background: #282c34;
 	width: 380px;
	height: 40px;
	opacity: .8;
	border-radius: 8px;
	display: flex;
	align-items: center;
	padding: 10px
}

.player * {
	margin: 0px 5px;
}

.player .song {
	display: flex;
	flex-grow: 2;
	justify-content: center;
}
